/* || Welcoming section */
#welcoming-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #333;
    --heading-size: 8rem;
}

#welcoming-section .food-icons {
    --icons-size: 20rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcoming-section .food-icons i {
    position: absolute;
    transform: scale(0);
    font-size: var(--icons-size);
    color: var(--accent-color);
    text-shadow: .2rem .2rem .2rem black;
    transition: transform 0.3s;
}

#welcoming-section .food-icons i.display {
    transform: scale(1);
    transition: transform 0.3s 0.3s;
}

/* || Popular meals */
#popular-foods-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px 0;
    background-color: #222;
    --heading-size: 6rem;
}

#popular-foods-section .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


